<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=site_title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
 <div class="sidebar-wrapper">
        <ul class="sidebar-nav">
                <li class="brand-icon">
                        <a href="#">
                          <img src="#" alt="">
                        </a>
                </li>
                <li class="active">
                    <a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                     <a href="/admin/mychat"><i class="fa fa-envelope"></i> Chat</a>
                </li>
                <li>
                    <a href="/admin/file-upload"><i class="fa fa-cog"></i> File Upload</a>
               </li>
               <li>
                <a href="#"><i class="fa fa-cog"></i> Setting</a>
              </li>
              <li>
                     <a href="/admin/logout"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
        </ul>
 </div> 
 <main class="main-body">
     <div class="main__header">
         <div class="header__list">
             <div class="header__content">
                    <div id="sidebar-toggle"><i class="fa fa-bars"></i></div>
                    <div ><i class="fa fa-user"></i></div>
                    <div ><i class="fa fa-android"></i></div>
                    <div ><i class="fa fa-windows"></i></div>
             </div>    
         </div>
         <!-- Start -->
        
        <!-- End -->
   

 
